body {
  background-color: #ffffff;
  font-family: "Roboto 500", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* =====HEADER===== */

.logo {
  color: #4d5ae5;
}

.nav-links {
  color: #2e2f42;
}

.link {
  text-decoration: none;
}
.text-about {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  letter-spacing: 0.02em;
}

.logo-fontheader {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.hover-nav:hover,
.hover-nav:focus {
  color: #404bbf;
}

/* =====HEADER===== */

/* =====MAIN===== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main-section {
  background: #2e2f42;
}

.text-secondtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.points {
  list-style: none;
}

.container {
  margin-left: -40px;
}

.employees {
  background: #f4f4fd;
}

.important-buttoncolor {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.first-buttoncolor {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-secondpage {
  color: #4d5ae5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.main-buttonhover:hover,
.main-buttonhover:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* =====MAIN===== */

/* =====FOOTER===== */

.footer-container {
  background: #2e2f42;
}

.text-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #e7e9fc;
  letter-spacing: 0.02em;
}

.logo-fontfooter {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
/* =====FOOTER===== */
